@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Ubuntu", sans-serif;
     font-style: normal;
}

:root{
     --max-width: 1400px;
     --main-blue:#0073F4;
     --main-blue-light: #0073F440;
     --main-light-blue:#5BD1EE;
     --white:white;
     --gray:#afb1b1;
     --main-black: #0f1314;
     --light-black: #222c2e;
     --round-10: 10px;
     --round-5: 10px;
     --round-20: 20px;
     --round-50: 50%;
}

body{
     max-width: 1440px;
     margin-inline: auto;
     background-color: var(--main-black);
     padding: 10px 0;
}

/* backgrounds */
.main-background{
     width: 100vw;
     height: 100vh;
     background-color: var(--main-black);
     position: fixed;
     z-index: -1;
     top: 0;
     left: 0;
}

.main-background img{
     width: 100%;
     height: 100%;
}

.main-background .cover {
     width: 100%;
     height: 100%;
     position: absolute;
     background-color: #00bbff00;
     z-index: 1;
     top: 0;
     left: 0;
}

/* end of backgrounds */

.main-page{
     width: 80%;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-inline: auto;
}

.main-header{
     width: 80%;
     position: sticky;
     top: 0px;
     border: 1.5px solid var(--light-black);
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     padding-inline: 1%;
     padding-block: 5px;
     border-radius: var(--round-10);
     margin: 5px auto;
     z-index: 99;
     background-color: var(--main-black);
     -webkit-backdrop-filter: blur(8px);
     backdrop-filter: blur(8px);
}

.main-footer{
     width: 80%;
     margin-inline: auto;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     max-width: var(--max-width);
     padding: 30px 0;
}

.main-footer .copy-right {
     font-size: 0.8rem;
     color: var(--gray);
}


/* Components */

.main-container{
     width: 100%;
     max-width: var(--max-width);
     margin-inline: auto;
     margin-block: 30px;
     display: flex;
     flex-direction: column;
     gap: 20px;
     position: relative;
}
/* buttons */
.action-btn{
     padding: 7.5px 15px;
     border: 1.5px solid var(--main-blue);
     border-radius: var(--round-5);
     background-color: var(--main-black);
     color: var(--gray);
     font-size: 0.8rem;
     letter-spacing: 0.5px;
     cursor: pointer;
     transition: ease 0.4s;
}

.action-btn:hover{
     color: var(--white);
     background-color: var(--main-blue);
}

/* links */

.nav-link-container{
     width: auto;
     padding-inline: 5px;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
}

.nav-link-container .nav-link-underline{
     width: 0%;
     border-bottom: 1.5px solid var(--main-blue);
     transition:  all 0.5s ease;
}

.nav-link-container:hover .nav-link-underline{
     width: 100%;
}

.nav-link{
     /* color: var(--main-black); */
     text-decoration: none;
     font-size: 0.85rem;
     transition: all 0.4s ease;
     font-weight: 400;
     color: var(--gray);
}

.nav-link:hover{
     color: var(--main-blue);

}

.active-link{
     color: var(--main-blue);
     font-weight: 600;
}

.my-image-container {
     background-position: center;
     background-size: 100%;
}
/* end of Components */

/* containers */
.nav-container{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     gap: 20px;
     flex-wrap: wrap;
     position: relative;
}

.nav-links-container {
     display: flex;
     flex-direction: row;
     align-items: center;
     align-items: center;
     justify-content: space-evenly;
     gap: 8px;
}

.support-container {
     width: auto;
     position: fixed;
     bottom: 50px;
     right: 25px;
     z-index: 10;
     transition: all 0.5s ease;
}

.support-container .contact-icon {
     width: 45px;
     height: 45px;
     background-color:var(--main-blue) ;
     border-radius: 50%;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     transition: all 0.4s ease;
     cursor: pointer;
}

.support-container .contact-icon:hover {
     background-color: var(--main-blue-light);
}
.support-container .contact-icon i{
     font-size: 30px;
     color: var(--white);
}

.support-container .contact-container {
     width: 350px;
     background-color: var(--white) ;
     border-radius: 10px;
     padding: 10px;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     position: relative;
     gap: 10px;
}

.support-container .contact-container .close-icon {
     font-size: 25px;
     font-weight: 600;
     color: #00000050;
     border: 1.5px solid #00000050;
     width: 40px;
     height: 40px;
     text-align: center;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     cursor: pointer;
     transition: all 0.4s ease;
}

.support-container .contact-container .close-icon:hover {
     color: var(--main-blue);
     border-color: var(--main-blue);
}

.support-container .contact-container .support-row {
     width: 90%;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: flex-start;
     gap: 10px;
     padding: 5px 5px;
     border: 1.5px solid #00000050;
     border-radius: 35px;
     transition: all 0.5s ease;
     cursor: pointer;
     text-decoration: none;
}

.support-container .contact-container .support-row:hover {
     border-color: var(--main-blue);
}

.support-container .contact-container .support-row .my-image-container {
     border-radius: 50%;
     position: relative;
     transition: all 0.5s ease;
     transform-origin: right;
}

.support-container .contact-container .support-row .my-image-container:hover {
     transform: scale(2);
}

.support-container .contact-container .support-row .my-image-container::after {
     content: "";
     width: 10px;
     height: 10px;
     border-radius: 50%;
     background-color: #1da81d;
     position: absolute;
     bottom: 0;
     right: 0;
     border: 1px solid #000;
}

.support-container .contact-container .support-row p {
     font-size: 1rem;
     font-weight: 500;
     color: var(--main-blue);
}

/* end of containers */

/* icons */

.menu-dropper {
     font-size: 1.8rem;
     color: var(--main-blue);
     cursor: pointer;
     display: none;
}

/* .menu-dropper:hover ~ .nav-links-container{
     display: flex;
     flex-direction: column;
     position: absolute;
     top: 100%;
     width: 90vh;
     background-color: var(--gray);
     border-radius: var(--round-10);
     left: 5%;

} */
/* end of icons */

/* page sections styles */

.home-hero-section{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content:flex-start;
     position: relative;
     margin: 10px auto;
     margin-top: 30px;
     background-repeat: no-repeat;
     background-size: 100%;
     padding: 100px;
     /* background: linear-gradient(90deg, var(--light-black),  var(--main-black) 50%); */
     /* background-color: var(--main-black); */
     border-radius: 10px;
     border: 1px solid var(--light-black);
     position: relative;
     background-size: cover;
     background-position: center;
}

.section-background-cover {
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     background-color: #00000080;
     left: 0;
     z-index: 0;
}

.home-hero-section .content{
     width: 80%;
     border-radius: 10px;
     padding: 25px 50px;
     /* background-color: #222c2e75; */
     /* background: linear-gradient(60deg, var(--main-black), var(--light-black)); */
     background-color: #222c2e90;
     margin-inline:auto;
     position: relative;
     z-index: 1;
}

.home-hero-section .content h1{
     color: var(--white);
     font-size: 2rem;
     font-weight: 700;
     margin-block: 10px;
     text-align: center;
}

.home-hero-section .content p{
     font-size: 1.4rem;
     font-weight: 600;
     color: var(--gray);
     text-align: center;
}
.section-background{
     position: absolute;
     z-index: 0;
     top: 0;
     left: 0;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
}

.section-background .image{
     width: 100%;
}

.home-why-section{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
}

.main-container .title{
     width: 100%;
     padding: 5px 10px;
     position: relative;
     z-index: 1;

}

.main-container .title h3 {
     font-size: 1.4rem;
     font-weight: 700;
     color: var(--gray);
     text-align: left;
}

.main-container  .card-content {
     width: 100%;
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     justify-content: space-between;
     flex-wrap: wrap;
}

.main-container .about-content{
     width: 100%;
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     justify-content: space-evenly;
     flex-wrap: wrap;
}

.main-container .about-content .text {
     width: 40%;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     gap: 10px;
}


.main-container .about-content .text p{
     font-size: 0.9rem;
     color: var(--gray);
     font-weight: 300;
     letter-spacing: 0.56px;
}

.main-container .about-content .images {
     width: 40%;
     display: flex;
     flex-direction: column;
     align-items: center;
}
.main-container .about-content .images img {
     width: 100%;
     height: auto;
     border-radius: 10px;
}

.why-card{
     width: 23%;
     aspect-ratio: 100/80;
     box-shadow: 1px 1px 10px #ffffff40;
     border-radius: 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 5px;
     padding: 10px;
}

.why-card h4{
     font-size: 0.9rem;
     font-weight: 600;
     color: var(--gray);
}

.why-card p{
     font-size: 0.7rem;
     color: var(--gray);
     text-align: center;
     width: 80%;
     font-weight: 300;
     letter-spacing: 0.56px;
}

.why-card img {
     background-color: var(--light-black);
     border-radius: 50%;
     padding: 7.5px;
}

.home-services-section{
     border-radius: var(--round-10);
     overflow: hidden;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     padding: 20px;
}


.home-services-section .title h3{
     text-shadow: 0.4px 1px 2px var(--main-black);
     color: #fff;
}

.home-services-section .content{
     width: 95%;
     margin: 0 auto;
     display: flex;
     flex-direction:row ;
     flex-wrap: wrap;
     gap: 10px;
     justify-content: space-between;
     position: relative;
     z-index: 1;
}

.service-card {
     width: 30%;
     display: flex;
     flex-direction: column;
     border-radius: var(--round-10);
     align-items: center;
     padding: 10px;
     gap: 5px;
     background-color: #00000090;
     aspect-ratio: 100/60;

}

.service-card .my-image-container {
     width: 90%;
     height: auto;
     aspect-ratio: 100/50;
     border-radius: var(--round-5);
}

.service-card h4 {
     font-size: 0.9rem;
     font-weight: 600;
     color: var(--white);
     width: 100%;
     
}

.service-card p {
     font-size: 0.75rem;
     color: var(--gray);
     letter-spacing: 0.56px;
     font-weight: 300;
}

/* end of page sections styles */
