@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Ubuntu", sans-serif;
     font-style: normal;
}

:root{
     --max-width: 1400px;
     --main-blue:#0073F4;
     --main-light-blue:#5BD1EE;
     --white:white;
     --gray:#afb1b1;
     --main-black: #0f1314;
     --light-black: #222c2e;
     --round-10: 10px;
     --round-5: 10px;
     --round-20: 20px;
     --round-50: 50%;
}

.main-page{
     width: 100%;
     display: flex;
     flex-direction: row;
     align-items: center;

}

.main-header{
     position: sticky;
     top: 14px;
     box-shadow: 0.5px 0.5px 5px var(--gray);
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     padding-inline: 1%;
     padding-block: 5px;
     border-radius: var(--round-10);
     margin: 0 auto;
     z-index: 99;
}

.main-footer{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     max-width: var(--max-width);
     padding: 30px 0;
}

.main-footer .copy-right {
     font-size: 0.85rem;
     color: var(--light-black);
}


/* Components */

.main-container{
     width: 80%;
     max-width: var(--max-width);
     margin-inline: auto;
}
/* buttons */
.action-btn{
     padding: 7.5px 15px;
     border: 1.5px solid var(--main-blue);
     border-radius: var(--round-5);
     background-color: var(--white);
     color: var(--main-blue);
     font-size: 0.8rem;
     letter-spacing: 0.5px;
     cursor: pointer;
     transition: ease 0.4s;
}

.action-btn:hover{
     color: var(--white);
     background-color: var(--main-blue);
}

/* links */

.nav-link{
     padding-inline: 5px;
     color: var(--main-black);
     text-decoration: none;
     font-size: 0.9rem;
     transition: ease 0.5s;
}

.nav-link:hover{
     color: var(--main-light-blue);

}

.active-link{
     color: var(--main-blue);
     font-weight: 600;
}
/* end of Components */

/* containers */
.nav-container{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     gap: 20px;
     flex-wrap: wrap;
     position: relative;
}

.nav-links-container {
     display: flex;
     flex-direction: row;
     align-items: center;
     align-items: center;
     justify-content: space-evenly;
     gap: 8px;
}
/* end of containers */

/* icons */

.menu-dropper {
     font-size: 1.8rem;
     color: var(--main-blue);
     cursor: pointer;
     display: none;
}

/* .menu-dropper:hover ~ .nav-links-container{
     display: flex;
     flex-direction: column;
     position: absolute;
     top: 100%;
     width: 90vh;
     background-color: var(--gray);
     border-radius: var(--round-10);
     left: 5%;

} */
/* end of icons */