@media screen and (max-width: 767px) {
     :root {
          font-size: 16px;
     }

     .main-header, .main-footer,
     .main-page{
          width: 95%;
     }

     .nav-links-container{
          display: none;
     }

     .menu-dropper{
          display: inline-block;
     }

     .why-card{
          width: 45%;
     }

     .why-card p {
          letter-spacing: 0.5px;
          font-size: 0.75rem;
          width: 95%;
     }

     .home-hero-section{
          padding: 20px 10px;
     }

     .home-hero-section .content {
          padding: 20px 20px;
     }
}
