@media screen and (max-width: 767px) {
     :root {
          font-size: 16px;
     }

     .main-container{
          width: 95%;
     }

     .nav-links-container{
          display: none;
     }

     .menu-dropper{
          display: inline-block;
     }
}
