@media screen and (min-width: 768px) and (max-width: 1023px) {
     :root {
          font-size: 16px;
     }

     .main-header, .main-footer,
     .main-page{
          width: 90%;
     }

     .main-header{
          padding-inline: 5%;
     }
     
     .main-container  .card-content {
          gap: 20px;
          justify-content: space-evenly;
     }

     .home-hero-section {
          padding: 50px;
     }

     
}

@media screen and (max-width: 768px) {
     :root {
          font-size: 16px;
     }

     .main-header, .main-footer,
     .main-page{
          width: 90%;
     }

     .main-header{
          padding-inline: 5%;
     }
     
     .main-container  .card-content {
          gap: 20px;
          justify-content: space-evenly;
     }

     .home-hero-section {
          padding: 50px;
          min-height: 400px;
     }
     .home-hero-section .content {
          width: 90%;
     }

     .why-card{
          width: 40%;
     }

     .service-card{
          width: 45%;
     }
} 